.primary-heading-episodde {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border-bottom: 5px solid var(--clr-primary);
  margin: 1rem auto;
  width: fit-content;
  border-radius: 5px;
}

.episode-cards {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 20rem));
  gap: 1rem;
  padding: 1rem;

  &__card {
    outline: none;

    &:hover,
    &:active,
    &:focus {
      .card-contents {
        transform: scale(0.97);
      }

      .title {
        color: var(--clr-primary);
      }
    }

    .card-contents {
      background-color: var(--clr-light-gray);
      padding: 0.5rem;
      transition: transform 0.2s ease;
      border-radius: 10px;
      text-align: center;
      color: var(--clr-white);
      display: block;
      height: 100%;

      .thumbnail {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 1rem;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .title {
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        transition: color 0.2s ease;
      }

      .title-secondary {
        font-size: 1rem;
        font-weight: normal;
      }

      .release-date {
        font-size: 0.8rem;
        opacity: 0.5;
      }
    }

    .card-contents.playing {
      position: relative;
      outline: 1px solid rgba(191, 0, 230, 0.9);

      &::after {
        content: "Playing";
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: linear-gradient(
          to bottom right,
          rgba(0, 228, 245, 0.9),
          rgba(191, 0, 230, 0.9),
          rgba(143, 252, 0, 0.9)
        );
        border-radius: 5px;
        padding: 0.1rem 0.5rem;
        font-size: 1.5rem;
      }
    }
  }
}
