.header {
  background-color: var(--clr-bg-secondary);
  border-radius: 0 0 15px 15px;

  .header-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;

    @media screen and (min-width: $bp-small) {
      padding: 1rem 2rem;
    }

    .logo {
      max-width: 8rem;
    }

    .hamburger-menu {
      height: 2rem;
      width: 2rem;
      cursor: pointer;
      z-index: 20;

      @media screen and (min-width: $bp-small) {
        display: none;
      }

      img {
        filter: invert(90%);
      }
    }

    .nav {
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      z-index: 18;
      overflow: hidden;
      transition: all 0.2s ease;

      transform: translateY(-100%);

      @media screen and (min-width: $bp-small) {
        display: block;
        position: relative;
        transform: translateY(0);
      }

      .close-menu {
        height: 2rem;
        width: 2rem;
        filter: invert(90%);
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;

        @media screen and (min-width: $bp-small) {
          display: none;
        }
      }

      .nav-links {
        background-color: var(--clr-light-gray);
        height: 100%;
        padding: 3.5rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        @media screen and (min-width: $bp-small) {
          background-color: transparent;
          flex-direction: row;
          padding: 0;
          gap: 2rem;
        }

        .nav-anchor {
          color: var(--clr-white);
          transition: opacity 0.2s ease;

          &:hover {
            opacity: 0.7;
          }
        }

        #season-nav {
          background-color: var(--clr-light-gray);
          border: none;
          color: var(--clr-white);
          padding: 0;
          cursor: pointer;
          outline: none;

          @media screen and (min-width: $bp-small) {
            background-color: var(--clr-bg-secondary);
          }
        }
      }
    }

    .nav.open {
      transform: translateY(0%);
    }

    .nav.open ~ .hamburger-menu img {
      content: url(../../images/circle-xmark-regular.svg);
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.2s ease;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @media screen and (min-width: $bp-small) {
    display: none;
  }
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
