.video-section {
  padding: 1rem;

  .video-container {
    position: relative;
    padding: 0.5rem;
    background-color: var(--clr-light-gray);
    background: linear-gradient(
      to bottom right,
      rgba(0, 228, 245, 0.9),
      rgba(191, 0, 230, 0.9),
      rgba(143, 252, 0, 0.9)
    );
    border-radius: 10px;
    width: 100%;
    max-width: 50rem;
    margin: auto;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

    #my-player {
      width: 100%;
      height: auto;
      border-radius: 5px;
      overflow: hidden;
    }

    video[poster] {
      object-fit: cover;
    }
  }

  .video-info {
    text-align: center;
    max-width: 50rem;
    margin: auto;

    hr {
      border: none;
      border-bottom: 1px solid var(--clr-primary);
      margin: 0.3rem;
    }

    .video-title {
      font-size: clamp(1.5rem, 3vw, 2rem);
      font-weight: 700;
      margin-bottom: 0.5rem;
      line-height: 1.2;
    }

    .video-secondary-title {
      font-size: 1.2rem;
      font-weight: 400;
    }

    .release-date {
      font-size: 0.9rem;
      opacity: 0.5;
    }

    .video-description {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2;
    }
  }
}
